.easy-carousel--brands {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.easy-carousel--brands .text-align-left {
  text-align: left;
}

.easy-carousel--brands .text-align-center {
  text-align: center;
}

.easy-carousel--brands .text-align-justify {
  text-align: justify;
}

.easy-carousel--brands .text-align-right {
  text-align: right;
}

.easy-carousel--brands .text-position-flex-start {
  justify-content: flex-start;
}

.easy-carousel--brands .text-position-center {
  justify-content: center;
}

.easy-carousel--brands .text-position-flex-end {
  justify-content: flex-end;
}

.easy-carousel--brands .list {
  display: inline-flex;
  position: relative;
  white-space: nowrap;
}

.easy-carousel--brands .list .slide {
  display: flex;
  flex-direction: column;
  font-size: 24px;
}

.easy-carousel--brands .list .slide .slide-image {
  height: inherit;
}

.easy-carousel--brands .list .slide .slide-image img {
  width: 100%;
}

.easy-carousel--brands .list .slide .slide-content {
  display: flex;
  flex-direction: column;
  width: inherit;
  height: 100%;
  padding: 15px;
  position: relative;
  text-align: center;
  z-index: 1;
  top: 0;
}

.easy-carousel--brands .list .slide .slide-content.overlayed-content {
  position: absolute;
}

.easy-carousel--brands .list .slide .slide-content a {
  color: inherit;
}

.easy-carousel--brands .list .slide .slide-content .slide-title {
  font-weight: bold;
  font-size: clamp(14px, 1vw, 18px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: inherit;
}

.easy-carousel--brands .list .slide .slide-content .slide-text p {
  font-size: clamp(12px, 1vw, 18px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.easy-carousel--brands .list .slide .slide-content .slide-link {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 3px;
  text-decoration: none;
  font-size: clamp(12px, 1vw, 18px);
}
